@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");

body {
  margin: 0;
  /* background-color: #e4f9f5; */
  font-size: 1.25rem;
  color: #40514e;
}

.top-container {
  background-color: #e4f9f5;
  padding: 1rem;
}

img.top-left-emoji {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
  margin: 10px 0 0 10px;
  transform: rotate(13deg);
  display: inline;
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
}

img.top-right-emoji {
  position: absolute;
  display: inline;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
  margin: 10px 10px 0 0;
  transform: rotate(-13deg);
  -webkit-transform: rotate(-13deg);
  -moz-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  -o-transform: rotate(-13deg);
}

#profile-avatar {
  margin-top: 80px;
  /*cănảnhragiữa*/
  display: block;
  margin: 80px auto 40px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 0 5px #fff, 0 0 0 10px #e4f9f5, 0 0 0 15px #fff,
    0 0 0 20px #e4f9f5;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

h1.top-heading {
  text-align: center;
  display: block;
  font-size: 5.265rem;
  margin-top: -50px;
  margin-bottom: -10px;
  position: relative;
  top: 50px;
  font-family: "Charmonman", cursive;
  color: #66bfbf;
  line-height: 2;
}

h2#cap-of-top-heading {
  font-weight: 100;
  margin: 0;
  position: relative;
  font-family: "Kolker Brush", cursive;
  color: #66bfbf;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
  top: 40px;
  color: #66bfbf;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #11999e;
  text-decoration: none;
}

a.footer-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 20px;
}

a.footer-link:hover {
  color: white;
}

p {
  line-height: 2;
  letter-spacing: 0.015cm;
}

.profile {
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.skill-gif {
  width: 35%;
  float: left;
  margin-right: 30px;
  text-align: left;
  border-radius: 50%;
}

.python-meme {
  width: 30%;
  float: right;
  margin-left: 30px;
  text-align: right;
}

.contact-me {
  text-align: center;
}

.middle-container {
  margin: 100px 0 100px 0;
}

.bottom-container {
  text-align: center;
  background-color: #66bfbf;
  padding: 50px 0 20px 0;
}

hr {
  border: dotted 11px #aec4c5;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

.intro {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  font-size: 1.5rem;
  color: #11999e;
}

.get-in-top {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfcaf;
  background-image: -webkit-linear-gradient(top, #3cfcaf, #00b594);
  background-image: -moz-linear-gradient(top, #3cfcaf, #00b594);
  background-image: -ms-linear-gradient(top, #3cfcaf, #00b594);
  background-image: -o-linear-gradient(top, #3cfcaf, #00b594);
  background-image: linear-gradient(to bottom, #3cfcaf, #00b594);
  text-decoration: none;
}

.copyright {
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 20px 0 20px 0;
}
