body {
   background-image: url("/images/sky.jpg");
   background-color: #cccccc;
   background-blend-mode: screen;
}

h1 {
   color: #937DC2;
}

h3 {
   color: #C689C6;
}

hr {
   border-color: White;
   border-width: thick;
   border-style: none;
}
